{extend name="base/base"}
{block name="head"}
<link rel="stylesheet" href="__MOBILE_FONTS__/iconfont.css">
<link href="__MOBILE_CSS__/common1.css" rel="stylesheet">
<link href="__MOBILE_CSS__/usercenter.css" rel="stylesheet">
<script type="text/javascript"  src="__MOBILE_JS__/jquery.min.js"></script>
<script src="__common__/plugin/copy/jquery.zclip.min.js"></script>
{/block}
{block name="main"}
<div class="home">
    <!-- 头部 -->
    <!-- 头部 -->


    <header>
        <a href="{:U('users/personal_center')}" class="heads"><i class="icon iconfont cio1">&#xe600;</i></a>
        <span class="heads-p">我的推广二维码</span>
    </header>


    <!-- 底部 -->
    <div class="foots">
        <section>
            <!--<img src="{:U('core/api/qr_base64',['text'=>base64_encode($spread_url)])}" style="display: block;margin: 20% auto auto;width: 60%;">-->
            <img src="{$spread_url}" style="display: block;margin: 20% auto auto;width: 60%;">
        </section>
    </div>
    <footer>
        <a href="{:U('Index/index')}" class="foots1">夺宝</a>
        <a href="{:U('Index/all_goods', array('cate'=> '0-1'))}" class="foots2">全部商品</a>
        <a href="{:U('Index/all_share_order')}" class="foots3">晒单</a>
        <a href="{:U('Cart/cart_list')}" class="foots4">购物车</a>
        <a href="{:U('Users/personal_center')}" class="foots5 act">我的</a>
    </footer>

</div>
{/block}
