{css href="__ADMIN_ASSETS__/css/bootstrap.min.css" /}
{css href="__ADMIN_ASSETS__/css/font-awesome.min.css" /}
{css href="__ADMIN_ASSETS__/css/font-awesome/css/font-awesome.min.css" /}
<!--[if IE 7]>
{css href="__ADMIN_ASSETS__/css/font-awesome-ie7.min.css" /}
{css href="__ADMIN_ASSETS__/css/font-awesome/css/font-awesome-ie7.min.css" /}
<![endif]-->
{css href="__ADMIN_ASSETS__/css/google_css.css" /}
<!-- ace styles -->
{css href="__ADMIN_ASSETS__/css/ace.min.css" /}
{css href="__ADMIN_ASSETS__/css/ace-rtl.min.css" /}
{css href="__ADMIN_ASSETS__/css/ace-skins.min.css" /}
<!--[if lte IE 8]>
{css href="__ADMIN_ASSETS__/css/ace-ie.min.css" /}
<![endif]-->

{css href="__common__/admin/css/main.css" /}
{css href="__plugin__/jrange/jquery.range.css" /}