



<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>问答详情 - 1元夺宝</title>
	<meta name="description" content="1元夺宝，就是指只需1元就有机会获得一件商品，是基于邮箱平台孵化的新项目，好玩有趣，不容错过。" />
    <meta name="keywords" content="1元,一元,1元夺宝,1元购,1元购物,1元云购,{:C('WEBSITE_NAME')},一元购,一元购物,一元云购,夺宝奇兵" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
    <link rel="shortcut icon" type="image/x-icon" href="../css/favicon.ico.css" />
    <link rel="icon" type="image/x-icon" href="../css/favicon.ico.css" />
<meta content="telephone=no" name="format-detection" />
        <link href="__MOBILE_CSS__/common.css" rel="stylesheet" />
        <link href="__MOBILE_CSS__/user.css" rel="stylesheet" />
		<script src="__MOBILE_JS__/jquery.min.js"></script>
		<script src="__MOBILE_JS__/js.js"></script>
</head>






<body class="qwe">
<div class="m-user ad2" id="dvWrapper">
<div class="wdxq1 qh set7">
     <div class="w-nav-item  dbkf-left dbkf-left2 hs1 "><div class="zfx">Q</div>&nbsp;&nbsp;&nbsp;&nbsp;我可以修改已确认的收货地址吗</div>
     <div class="w-nav-item hs2 hs5 h7">
		<div class="zfx xzf1 da">A</div>
		<div class="daa">获得夺宝商品后一旦确认收货地址，无法二次修改。请您慎重填写！</br>
如因用户个人原因，导致快递无法正常派发，二次寄送则由用户自行承担物流运输费用。
			</div>
		

	 </div>
</div> 
<div class=" bz qh1 qh2 qh3">
	<div class="db11 ddf">
		<div class="db11-1 b1">
			<span class="sp00" style="margin-left:40%;">有帮助</span>
		</div>
		
		<div class="db11-1 b2">
			<span class="sp00" style="margin-left:40%;">没帮助</span>
		</div>
	</div>
	<div class="db11 bff dff1" >感谢您的反馈，小宝会继续努力哒！</div>
	
</div>	 
<div class="zvb">
	<section class="img11">需要更多帮助？</section>
	<section class="img00"><a href=""><img src="__MOBILE_IMG__/11.png"></a></section>

</div>
</div>




<script>
	$(function(){
		$(".b1,.b2").click(function(){
	
			$(".bff").css("display","block")
		})
	
	
	
	
	
	
	
	
	
	
	
	
	})

</script>











 
 
   

   
   
   
   
   

</body>
</html>

