{extend name='base/base' /}
{block name='content'}
<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try {
            ace.settings.check('breadcrumbs', 'fixed')
        } catch (e) {
        }
    </script>

    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="javascript:">后台管理</a>
        </li>
        <li class="active">全部用户</li>
    </ul><!-- .breadcrumb -->


</div>

<div class="page-content">
    <div class="row">
        <form id="form_condition" class="form-search form-inline col-xs-10">
                <div class="row" style="padding-left:10px;padding-bottom:10px;">
                    <div class="form-group " style="float: left">
                        <label class="sr-only" for="form-field-select-1"></label>
                        <select class="form-control fc-select" id="form-field-select-1" style="min-width: 120px" name="field">
                            <option value="1">ID</option>
                            <option value="2">昵称</option>
                            <option value="3">手机</option>
                            <option value="4">用户名</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-4">
                        <label class="sr-only"></label>
                        <input class="form-control search-query fc-input" style="min-width: 120px" placeholder="请输入" type="text" name="keywords">
                    </div>
                    <div class="form-group">
                        <label class="sr-only"></label>
							<button type="button" class="btn btn-purple btn-sm search_btn">
                                搜索
                                <i class="icon-search icon-on-right bigger-110"></i>
                            </button>
                            <button class="btn btn-danger btn-sm del-select" type="button">批量删除</button>
                            <a href="{:U('csv_import')}" target="_self" class="btn btn-info btn-sm" id="excel_import">
                                <i class="icon-plus icon-on-right bigger-110"></i>
                                导入用户名和密码（CSV格式）
                            </a>
                    </div>
                </div>
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                    <div id="form_content" data-url="{:U('show_list')}"></div>
                    </div><!-- /.table-responsive -->
                </div><!-- /span -->
            </div><!-- /row -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->

<input type="hidden" id="del_url" value="{:U('del')}">
<input type="hidden" id="del_select" value="{:U('del_select')}">

{/block}

{block name="js"}
{js href='__common__/admin/js/users/index.js' /}
{/block}