{extend name="base/common"}


{block name="title"}忘记密码{/block}


{block name="head"}
<link rel="shortcut icon" type="image/x-icon" href=".__MOBILE_CSS__/favicon.ico.css">
<link rel="icon" type="image/x-icon" href="__MOBILE_CSS__/favicon.ico.css">
<meta content="telephone=no" name="format-detection"/>
<link href="__MOBILE_CSS__/common.css" rel="stylesheet"/>
<link href="__MOBILE_CSS__/user.css" rel="stylesheet"/>
<script src="__MOBILE_JS__/jquery.min.js"></script>
<script src="__MOBILE_JS__/js.js"></script>
{/block}

{block name="main"}
<div class="m-user mm czz" id="dvWrapper">
    <div class="m-simpleHeader" id="dvHeader">
        <a href="{:U('OtherUsers/login')}" data-pro="back" data-back="true" class="m-simpleHeader-back">取消</a>
        <a href="" data-pro="ok" class="m-simpleHeader-ok" id="aHome">保存</a>
        <h1>忘记密码</h1>
    </div>
    <div class="clear">
    </div>
</div>
<div class="grzl-2 l2 l3">
    <div class="js-1 oo1">
        手机号码
    </div>
    <input type="css/text" value="" name="" class="zc33 phone ysxg" placeholder="请输入手机号"/>
</div>
<div class="grzl-2 l2 l3">
    <div class="js-1 oo1">
        新密码
    </div>
    <input type="password" value="" name="" class="zc33 password ysxg" placeholder="请输入新密码"/>
</div>
<div class="grzl-2 l2 l3">
    <div class="js-1 oo1">
        验证码
    </div>
    <input type="css/text" value="" name="" class="code ysxg" placeholder=" 请输入验证码"/>
    <button type="button" class="bt3 get-code ">获取验证码</button>

    <input type="hidden" value="{:U('OtherUsers/forget_password')}" id="forgetPassword-url"/>
    <input type="hidden" value="{:U('OtherUsers/login')}" id="login"/>
    <input type="hidden" value="{:U('OtherUsers/get_code')}" id="get-code-url"/>
</div>




<script>

    $(function(){
        //检验手机号码是否为空
        function checkPhoneNotEmpty() {
            return $('.phone').val() == '' ? false : true;
        }

        //检验手机号码是否符合规范
        function checkPhone() {
            return $('.phone').val().match(/^(((1[0-9][0-9]{1})|159|153)+\d{8})$/) ? true : false;

        }

        //发送验证码按钮变亮或者变暗
        $(".zc33").focus(function(){
            $(".bt3").addClass("focus");
        }).blur(function(){
            $(".bt3").removeClass("focus");
        });

        var timer = 60;

        //点击获取验证码之后，倒计时
        function countDown() {
            var code_button = $('.get-code');
            code_button.attr("disabled", true);

            var time = setInterval(function(){
                if(timer == 0) {
                    clearInterval(time);
                    code_button.removeAttr("disabled");
                    code_button.html('获取验证码');
                    return false;
                }
                timer -= 1;
                code_button.html(timer+' 秒');
            },1000);

        }

        //点击获取验证码
        $(".get-code").click(function(){

            if(!checkPhoneNotEmpty()) {
                layer.open({
                    content: '手机号码不得为空',
                    time: 1 //1秒后自动关闭
                });
                return false;
            }

            if(!checkPhone()) {
                layer.open({
                    content: '手机号码不符合规范，请重新填写',
                    time: 1 //1秒后自动关闭
                });
                return false;
            }

            //请求发送验证码
            $.ajax({
                url : $('#get-code-url').val(),
                type : 'POST',
                data : {
                    phone : $('.phone').val(),
                    type : 'rst_pass'
                },
                beforeSend : function () {

                },
                success : function (data, response, status) {
                    var response_data = $.parseJSON(data);
                    if (response_data.status == 'fail') {
                        layer.open({
                            content: response_data.message,
                            time: 1 //1秒后自动关闭
                        });
                    }else{
                        layer.open({
                            content: '发送成功',
                            time: 1 //1秒后自动关闭
                        });
                        countDown();
                    }
                }
            });
        });




        //  请求修改

        $('#aHome').click(function(ev){
            ev.preventDefault();
            $.ajax({
                url: $('#forgetPassword-url').val(),
                type: 'POST',
                data: {
                    phone: $('.phone').val(),
                    password:$('.password').val(),
                    code:$('.code').val()
                },
                beforeSend: function () {

                },
                success: function (data, response, status) {
                    var response_data = $.parseJSON(data);
                    if (response_data.status == 'fail') {
                        layer.open({
                            content: response_data.message,
                            time: 1 //1秒后自动关闭
                        });
                    }
                    if (response_data.status == 'success') {
                        layer.open({
                            content: '密码修改成功',
                            time: 1 //1秒后自动关闭
                        });
                        window.location.href = $('#login').val();
                    }
                }
            });
        });
    });
</script>
{/block}