<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>问答详情 - {:C('WEBSITE_NAME')}</title>
<meta name="description" content="1元夺宝，就是指只需1元就有机会获得一件商品，是基于{:C('WEBSITE_NAME')}邮箱平台孵化的新项目，好玩有趣，不容错过。"/>
<meta name="keywords" content="1元,一元,1元夺宝,1元购,1元购物,1元云购,{:C('WEBSITE_NAME')},一元购,一元购物,一元云购,夺宝奇兵"/>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
<link rel="shortcut icon" type="image/x-icon" href="../../app/mobile/view/css/favicon.ico.css"/>
<link rel="icon" type="image/x-icon" href="../../app/mobile/view/css/favicon.ico.css"/>
<meta content="telephone=no" name="format-detection"/>
<link href="../../app/mobile/view/css/common.css" rel="stylesheet"/>
<link href="../../app/mobile/view/css/user.css" rel="stylesheet"/>
<script src="../../app/mobile/view/js/jquery.min.js"></script>
<script src="../../app/mobile/view/js/index.js"></script>
</head>
<body class="qwe">
<div class="m-user ad2" id="dvWrapper">
	<div class="wdxq1 qh set7">
		<div class="w-nav-item dbkf-left dbkf-left2 hs1 ">
			<div class="zfx">
				Q
			</div>
			&nbsp;&nbsp;&nbsp;&nbsp;{:C('WEBSITE_NAME')}是公正的吗
		</div>
		<div class="w-nav-item hs2 hs5 h7 d1">
			<div class="zfx xzf1 da">
				A
			</div>
			<div class="daa ">
				公平、公正是{:C('WEBSITE_NAME')}赖以生存的根本。夺宝的幸运号码由公式计算得出，公式中的两个数字都是不受人为干扰的。</br>
		幸运号码=10000001+变化值
		变化值=（数值A+数值B）%数值C
				</br>
		数值A：商品的最后一个号码分配完毕后，将该时间点前本站全部商品的最后50个参与时间的数值
		（每个时间按时、分、秒、毫秒的顺序组合，如20:15:10.362则为201525362）进行求和得出数值A；
				</br>
		数值B：最近下一期中国福利彩票“老时时彩”的开奖号码（一个五位数值）
				</br>
		数值C：该商品所需人次
				</br>
		在{:C('WEBSITE_NAME')}幸运号码的计算公式中，我们加入了“下一期老时时彩开奖结果”这个数字，因为这个开奖结果是没有人可以预知的，而另一组购买时间之和则在老时时彩揭晓前已经公示，因此没办法做到人为干扰最终的幸运号码，计算结果是公平可信的。任何一个号码，都有获得夺宝商品的机会；当期参与的人次越多，获得夺宝商品的机会也就越大。 公平公正和透明是{:C('WEBSITE_NAME')}的核心，所有的计算方法和号码分配信息都是公开的，{:C('WEBSITE_NAME')}非常欢迎您可以关注我们的每一期的夺宝活动号码分配和最终计算结果是否符合。
		相信越多用户来监督，就越能彰显{:C('WEBSITE_NAME')}的透明性和公平性，再次对您表示感谢，祝您夺宝愉快~！
			</div>
		</div>
	</div>
	<div class=" bz qh1 qh2 qh3">
		<div class="db11 ddf">
			<div class="db11-1 b1">
				<img src=""/><span class="sp00" style="margin-left:40%;">有帮助</span>
			</div>
			<div class="db11-1 b2">
				<img src=""/><span class="sp00" style="margin-left:40%;">没帮助</span>
			</div>
		</div>
		<div class="db11 bff">
			感谢您的反馈，小宝会继续努力哒！
		</div>
	</div>
	<div class="zvb">
		<section class="img11">需要更多帮助？</section>
		<section class="img00"><a href=""><img src="../../../../Public/common/mobile/img/11.png"></a></section>
	</div>
</div>

</body>
</html> 